@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Store</h1>
</div>
<div class="row">
    <div class="col-md-12">
    </div>
    @Html.ActionLink("Add product","Create","Products",null,new { @class ="btn btn-info" })
</div>
<hr />
@Html.Action("Index","Products")

@section scripts{
    @Scripts.Render("~/bundles/my_scripts")
}
