@using RudenSoftStore.ViewModel
@model PagingInfo

<ul class="pagination">
    @for (int page = 1; page <= Model.TotalPages; page++)
    {
        if (page != Model.CurrentPage)
        {
            <li><a href="#" class="pageLink">@page</a></li>
        }
        else
        {
            <li class="active"><a href="#" class="pageLink">@page</a></li>
        }
    }
</ul>


